.navbar-bg{
    /* background-color: #fff !important; */
    /* background-image: linear-gradient(to right, #e77431, #4c5c78); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    height: 10vh;
    padding: 1rem 6rem;
}
.navlogo{
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff !important;
    transition: all 0.3s;
}
.navlogo img{
    width: 86px;
    height: 44px;
}
.navtags{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    margin: 0 1rem;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff !important;
}
.navtags span{
    margin-right: 1rem;
}

.link2{
    cursor: pointer;
    transition: all 0.3s;
    border-left: 1px solid transparent;

}
.link2:hover{
    color: #fa6400 !important;
}
